<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <!-- Begin dropdown -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-newspaper"></i>
                    Dropdown button
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <li><a class="nav-link" href="#"><i class="far fa-file"></i> Action</a></li>
                    <li><a class="nav-link" href="#"><i class="far fa-file"></i> Another Action</a></li>
                    <li><a class="nav-link" href="#"><i class="far fa-file"></i> Something else here</a></li>
                </ul>
            </li>
            <!-- End dropdown -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Configuracoes")">
                    <i class="fas fa-cogs"></i>
                    Configurações
                </a>
            </li>
        </ul>
    </div>
</nav>